<ion-view title="Configurações" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="configuracoes-container2">
    
      <form id="configuracoes-form4" class="list">
        <ion-checkbox id="configuracoes-checkbox1">Sou profissional</ion-checkbox>
      </form>
    </div>
    <form id="configuracoes-form5" class="list">
      <ion-checkbox id="configuracoes-checkbox2">Checkbox</ion-checkbox>
      <label class="item item-select" id="configuracoes-select1">
        <span class="input-label">Select</span>
        <select></select>
      </label>
      <ion-toggle toggle-class="toggle-positive" id="configuracoes-toggle2">Toggle</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="configuracoes-toggle3">Toggle</ion-toggle>
      <ion-item class="range range-positive" id="configuracoes-range1">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </form>
  </ion-content>
</ion-view>